gha-creds-*.json
/site
.vscode
.DS_Store

# training
outputs/
/*.ipynb

# Dataset
datasets/*
!datasets/README

# No DVC caches
asset_pipeline/.dvc
asset_pipeline/tmp
asset_pipeline/logs
asset_pipeline/artifacts
asset_pipeline/cad
.git